body{background:#f5f1e9;}
#container-wrapper, #container-wrapper-inner{background:url(strip.png) repeat-x;}
#left-ribbon{background:url(left-ribbon.png) no-repeat;}
#right-ribbon{background:url(right-ribbon.png) no-repeat;}
#nav{background:url(strip.png) repeat-x;}


a, a:visited, .titlecolor, .colortext, #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, .dropcap1
{color:#ad0501;}
#topnav ul{ background:#6a1210 url(dropdown-strip.png) repeat-x;}
#topnav li li{background:url(dropdown-line.gif) repeat-x; background-position:bottom}
#logo{background:url(bg-logo.png) no-repeat}